@charset "UTF-8";
html {
  scroll-behavior: smooth;
  scroll-padding-top: 3vw;
}

body {
  color: #333;
  font-family: heisei-mincho-std, serif;
  font-weight: 300;
  font-size: 1.1vw;
}

dt {
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .sp-none {
    display: none;
  }
}
.c-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2vw;
}
@media screen and (max-width: 768px) {
  .c-shop {
    padding: 0;
  }
}
.c-shop__icon {
  width: 3.61vw;
  height: 3.61vw;
}
@media screen and (max-width: 768px) {
  .c-shop__icon {
    width: 8.33vw;
    height: 8.33vw;
    margin-left: 7vw;
  }
}
.c-shop__icon img {
  width: 100%;
  height: 100%;
}
.c-shop__text {
  width: 19vw;
  font-size: 1.67vw;
  padding-left: 1vw;
}
@media screen and (max-width: 768px) {
  .c-shop__text {
    width: 36vw;
    font-size: 4.44vw;
    padding-left: 3vw;
  }
}

.l-header {
  width: 100vw;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
@media screen and (max-width: 768px) {
  .l-header {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 3.5vw 0 2vw 0;
    align-items: center;
  }
}
.l-header.change-color {
  background-color: #4D3729;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .l-header__nav {
    display: none;
  }
}
.l-header__nav ul {
  width: 46vw;
  display: flex;
  justify-content: center;
  padding: 1vw 0 1.5vw 0;
  margin-left: 27vw;
}
.l-header__nav ul li {
  list-style: none;
  padding: 0 1.2vw 0 1.2vw;
}
.l-header__nav ul li a {
  text-decoration: none;
  color: #fff;
}
.l-header__nav ul li a:hover {
  opacity: 0.5;
}
.l-header__burger-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .l-header__burger-btn {
    display: block;
    width: 16vw;
    font-size: 2.67vw;
    color: #fff;
    position: relative;
    z-index: 999;
    border: none;
    text-align: center;
    margin-right: 3.5vw;
  }
}
.l-header__burger-btn p {
  padding-top: 0.5vw;
  font-size: 3.33vw;
}
.l-header__burger-btn img {
  width: 8.89vw;
  height: 8.89vw;
}
.l-header .bar {
  width: 8.5vw;
  height: 0.4vw;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
.l-header .bar_top {
  top: 0.5vw;
}
.l-header .bar_mid {
  top: 28%;
  transform: translate(-50%, -50%);
}
.l-header .bar_bottom {
  bottom: 6vw;
}

.nav_sp {
  position: relative;
}

.nav_sp .l-header__nav {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav_sp .l-header__nav {
    display: block;
    background-image: url(../img/header_list_sp.png);
    width: 61.11vw;
    height: 152.78vw;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    transform: translateX(100%);
    overflow-y: scroll;
    transition: transform 0.3s;
  }
  .nav_sp .l-header__nav ul {
    width: 100%;
    display: block;
    margin: 18vw 0 0 0;
    padding: 6vw 4vw 6vw 0;
    text-align: right;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }
  .nav_sp .l-header__nav ul li {
    font-size: 4.4vw;
    padding: 2vw 5vw;
  }
  .nav_sp .l-header__nav .u-close {
    font-size: 12vw;
    color: #fff;
    position: absolute;
    top: 1vw;
    left: 4vw;
  }
}
.nav_sp .l-header__nav.is-open {
  transform: translateX(0%);
}
.nav_sp .l-header__nav.is-close {
  transform: translateX(100%);
}

#p-mv {
  position: relative;
}

.p-mv__slick {
  width: 100%;
  height: auto;
}
.p-mv__slick img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .p-mv__slick img {
    height: 84.47vw;
  }
}

.p-mv__text {
  font-size: 2.5vw;
  color: #fff;
  position: absolute;
  top: 29vw;
  left: 20vw;
  line-height: 2.9;
}
@media screen and (max-width: 768px) {
  .p-mv__text {
    font-size: 4.27vw;
    top: 51vw;
    left: 11vw;
    line-height: 3.1;
  }
}

h2 {
  font-size: 2.08vw;
  font-weight: 600;
  color: #CD5D00;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 7.47vw;
  }
}

.p-about {
  padding-top: 14vw;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .p-about {
    padding-top: 28vw;
    flex-direction: column-reverse;
  }
}
.p-about__left-box {
  padding-left: 16vw;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-about__left-box {
    padding: 0;
  }
}
.p-about__left-box h2 {
  padding-top: 4vw;
}
@media screen and (max-width: 768px) {
  .p-about__left-box h2 {
    padding-top: 16vw;
  }
}
.p-about__left-box_text {
  font-size: 1.25vw;
  width: 30vw;
  padding: 4vw 3vw 0vw 3vw;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .p-about__left-box_text {
    width: 100%;
    font-size: 4.27vw;
    padding: 6vw 9.5vw 0vw 8vw;
    line-height: 2.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.p-about .fadeIn_right {
  opacity: 0;
  transform: translate(50%, 0);
  transition: 2s;
}
.p-about .fadeIn_right.is-show {
  transform: translate(0, 0);
  opacity: 1;
}
.p-about__right-box img {
  width: 49.51vw;
  height: 43.61vw;
  margin-right: 1vw;
}
@media screen and (max-width: 768px) {
  .p-about__right-box img {
    width: 66.73vw;
    height: 58vw;
    margin-left: 32vw;
  }
}

.p-concept {
  display: flex;
  justify-content: space-between;
  padding-top: 14vw;
}
@media screen and (max-width: 768px) {
  .p-concept {
    padding-top: 27vw;
    display: block;
  }
}
.p-concept__left-box {
  width: 49.51vw;
  height: 43.61vw;
  margin-right: 1vw;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .p-concept__left-box {
    width: 66.39vw;
    height: 58.33vw;
    margin-left: 4vw;
  }
}
.p-concept__left-box img {
  width: 110%;
  height: 110%;
  position: absolute;
  top: 10%;
  left: 10%;
}
.p-concept__right-box {
  text-align: center;
  margin-right: 16vw;
}
@media screen and (max-width: 768px) {
  .p-concept__right-box {
    text-align: center;
    margin: 0;
    padding-top: 9vw;
  }
}
.p-concept__right-box h2 {
  padding-top: 6.5vw;
}
.p-concept__right-box_text {
  font-size: 1.25vw;
  width: 30vw;
  padding: 4vw 3vw 0vw 3vw;
  line-height: 2.05;
}
@media screen and (max-width: 768px) {
  .p-concept__right-box_text {
    font-size: 4.44vw;
    width: 100%;
    padding: 8vw 9vw 0vw 9vw;
    line-height: 2.1;
  }
}
.p-concept .fadeIn_left {
  opacity: 0;
  transform: translate(-50%, 0);
  transition: 2s;
}
.p-concept .fadeIn_left.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

.p-product {
  padding-top: 14.5vw;
  width: 61vw;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .p-product {
    padding-top: 24.5vw;
    width: 69.44vw;
  }
}
.p-product h2 {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-product h2 {
    padding-top: 4vw;
  }
}
.p-product__container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 4.33vw;
       column-gap: 4.33vw;
  width: 61vw;
  margin: 0 auto;
  margin-top: 4.5vw;
}
@media screen and (max-width: 768px) {
  .p-product__container {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 11.5vw;
  }
}
.p-product__box_text {
  text-align: center;
  padding-top: 2.2vw;
}
@media screen and (max-width: 768px) {
  .p-product__box_text {
    font-size: 4.44vw;
    padding-top: 6.2vw;
  }
}
.p-product__box img {
  width: 17.36vw;
  height: 17.36vw;
}
@media screen and (max-width: 768px) {
  .p-product__box img {
    width: 69.44vw;
    height: 69.44vw;
  }
}
@media screen and (max-width: 768px) {
  .p-product__box:nth-child(n+2) img {
    margin-top: 9vw;
  }
}
.p-product__box:nth-child(n+3) {
  display: block;
}
@media screen and (max-width: 768px) {
  .p-product__box:nth-child(n+3) {
    display: none;
  }
}
.p-product__box:nth-child(n+3).active {
  display: block;
  height: 100%;
  transition-duration: 0.4s;
}
.p-product__box:nth-child(n+4) {
  margin-top: 4.2vw;
}
@media screen and (max-width: 768px) {
  .p-product__box:nth-child(n+4) {
    margin-top: 0;
  }
}
.p-product__button {
  display: none;
}
@media screen and (max-width: 768px) {
  .p-product__button {
    display: block;
    width: 62.22vw;
    height: 15.28vw;
    text-align: center;
    border: 1px solid #CD5D00;
    margin: 0 auto;
    margin-top: 8vw;
    position: relative;
    overflow: hidden;
    font-size: 5.56vw;
    font-weight: 600;
    color: #CD5D00;
    padding-top: 4vw;
  }
  .p-product__button:before {
    content: "";
    width: 15vw;
    height: 10vw;
    position: absolute;
    top: 8vw;
    left: 53vw;
    background-color: #CD5D00;
    transform: rotate(134.68deg);
  }
  .p-product__button:after {
    content: ">";
    font-size: 3.5vw;
    padding: 0.5vw 0.5vw;
    font-weight: bold;
    width: 4.5vw;
    height: 4.5vw;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 9.5vw;
    left: 56.5vw;
  }
}

.p-picky {
  margin-top: 14vw;
  background-image: url(../img/picky_pc.png);
  width: 100%;
  height: 38.19vw;
  background-size: cover;
  color: #fff;
  position: relative;
}
.p-picky:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /*半透明のフィルターをかける*/
}
@media screen and (max-width: 768px) {
  .p-picky {
    margin-top: 33vw;
    background-image: url(../img/picky_sp.png);
    height: 114.72vw;
  }
}
.p-picky h2 {
  font-weight: 600;
  font-size: 2.08vw;
  text-align: center;
  color: #fff;
  padding-top: 7vw;
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-picky h2 {
    font-size: 7.78vw;
  }
}
.p-picky__text {
  text-align: center;
  padding: 4.5vw 33vw 0 33vw;
  line-height: 2.1;
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-picky__text {
    font-size: 4.44vw;
    padding: 10.5vw 5vw 0 5vw;
    line-height: 1.9;
  }
}

.p-contact {
  padding-top: 14.5vw;
}
@media screen and (max-width: 768px) {
  .p-contact {
    padding-top: 29.5vw;
  }
}
.p-contact h2 {
  text-align: center;
}
.p-contact__top-text {
  padding-top: 4.5vw;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-contact__top-text {
    font-size: 4.44vw;
    padding: 13.5vw 7vw 0vw 7vw;
    line-height: 1.5;
    text-align: start;
  }
}
.p-contact__form {
  padding-top: 5vw;
  width: 53.19vw;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .p-contact__form {
    padding-top: 8vw;
    width: 83.33vw;
  }
}
@media screen and (max-width: 768px) {
  .p-contact__form_box {
    font-size: 4.44vw;
  }
}
.p-contact__form_box:nth-child(n+2) {
  margin-top: 1.5vw;
}
@media screen and (max-width: 768px) {
  .p-contact__form_box:nth-child(n+2) {
    margin-top: 3.5vw;
  }
}
.p-contact__form_box:nth-child(4) .p-contact__form_input {
  height: 20.83vw;
}
@media screen and (max-width: 768px) {
  .p-contact__form_box:nth-child(4) .p-contact__form_input {
    height: 54vw;
  }
}
.p-contact__form_input {
  width: 100%;
  height: 3.47vw;
  border: #333 0.1vw solid;
  margin-top: 1vw;
  padding: 4vw 0 0 1vw;
}
@media screen and (max-width: 768px) {
  .p-contact__form_input {
    height: 13.89vw;
    margin-top: 4vw;
  }
}
.p-contact__form_button {
  width: 17.71vw;
  height: 4.1vw;
  background-color: #CD5D00;
  text-align: center;
  color: #fff;
  padding-top: 1.3vw;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 2vw;
  cursor: pointer;
}
.p-contact__form_button:hover {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .p-contact__form_button {
    font-size: 4.44vw;
    width: 70.83vw;
    height: 16.39vw;
    padding-top: 5.5vw;
    margin-top: 7vw;
  }
}

.p-summary {
  padding-top: 14vw;
}
@media screen and (max-width: 768px) {
  .p-summary {
    padding-top: 30vw;
  }
}
.p-summary h2 {
  text-align: center;
}
.p-summary__contents {
  padding-top: 3.5vw;
  width: 60.56vw;
  margin: 0 auto;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .p-summary__contents {
    font-size: 4.44vw;
    padding-top: 6.5vw;
    width: 84.44vw;
  }
}
.p-summary__contents dl {
  display: flex;
  border-bottom: 0.1vw dashed #333;
  padding: 1.2vw 0 1.2vw 4.5vw;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .p-summary__contents dl {
    padding: 5.56vw 0vw 5.56vw 0vw;
    line-height: 1.5;
  }
}
.p-summary__contents dl dt {
  width: 10vw;
}
@media screen and (max-width: 768px) {
  .p-summary__contents dl dt {
    width: 31.5vw;
  }
}
.p-summary__contents dl dd {
  padding-left: 2vw;
}

.l-footer {
  margin-top: 10.3vw;
  background-color: #4D3729;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .l-footer {
    margin-top: 20.3vw;
  }
}
.l-footer__main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 7.8vw;
}
@media screen and (max-width: 768px) {
  .l-footer__main {
    flex-direction: column-reverse;
    padding-top: 7vw;
  }
}
.l-footer__main_nav ul {
  display: flex;
  margin-right: 5vw;
}
@media screen and (max-width: 768px) {
  .l-footer__main_nav ul {
    margin-right: 0vw;
    justify-content: space-between;
  }
}
.l-footer__main_nav ul li {
  padding: 0 1.2vw;
}
@media screen and (max-width: 768px) {
  .l-footer__main_nav ul li {
    font-size: 4.44vw;
    padding: 0 4.7vw;
  }
}
.l-footer__main_nav ul li a:hover {
  opacity: 0.5;
}
.l-footer__main .c-shop {
  padding: 0;
  margin-left: 7.5vw;
}
@media screen and (max-width: 768px) {
  .l-footer__main .c-shop {
    margin-left: 0;
    margin-top: 10vw;
  }
  .l-footer__main .c-shop__text {
    width: 42vw;
    font-size: 5.56vw;
  }
}
@media screen and (max-width: 768px) {
  .l-footer__main .c-shop__icon {
    width: 14.44vw;
    height: 14.44vw;
    margin-left: 0vw;
  }
}
.l-footer__copy-right {
  text-align: center;
  padding: 5vw 0 2vw;
}
@media screen and (max-width: 768px) {
  .l-footer__copy-right {
    padding: 12vw 0 14vw;
    font-size: 4.17vw;
  }
}
/*# sourceMappingURL=style.css.map */